* {
  box-sizing: border-box;
  font-size: 100%;
}

body {
  background-color: darkgrey;
  font-family: "Montserrat", sans-serif;
}

/*  Settings for GRID mobile  */

.layout-grid {
  display: grid;
  grid-template-rows: 550px 950px 100px;
}
.grid-header {
  grid-column: 1/3;
  grid-row: 1/3;
}

.grid-main {
  grid-column: 2/3;
  grid-row: 2/3;
}

.grid-footer {
  grid-column: 2/3;
  grid-row: 3/3;
  text-align: center;
}

/*  Settings for GRID 768 width  */
@media (min-width: 768px) {
  .layout-grid {
    display: grid;
    grid-template-columns: 384px 384px;
    grid-template-rows: 550px 950px 100px;
  }

  .grid-header {
    grid-column: 1/2;
    grid-row: 1/3;
  }

  .grid-main {
    grid-column: 2/3;
    grid-row: 1/3;
  }

  .grid-footer {
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: center;
  }
}

.h1-name {
  margin-left: 4px;
  font-style: thin;
}

.h2-general {
  font-size: 120%;
  font-weight: bolder;
}

.photo-info {
  font-size: 80%;
}

.phone-para {
  display: inline-block;
  font-size: larger;
  padding-right: 20px;
}

.mail-link {
  border: dimgrey 0.5px;
  border-style: solid;
  border-radius: 15%;
  color: black;
  font-size: larger;
  text-decoration: none;
}

.mail-link:hover {
  color: white;
  border: dimgrey 0.5px;
  border-style: solid;
  border-radius: 15%;
  text-decoration: none;
}

.nav-list {
  float: left;
  margin-left: -58px;
}

.list-elem {
  display: block;
  float: right;
  list-style: none;
  padding-left: 25px;
}

.list-elem :hover {
  color: whitesmoke;
}

.list-elem :active {
  color: whitesmoke;
}

.link-contact {
  border: dimgrey 0.5px;
  border-style: solid;
  border-radius: 15%;
  color: black;
  text-decoration: none;
}

.image1 {
  border: black 1px;
  border-style: solid;
  max-width: 100%;
  max-height: 100%;
}
.icon1 {
  background-color: black;
  border: white 1px;
  border-radius: 50%;
  color: grey;
  display: block;
  font-size: 325%;
  height: 125px;
  margin-left: 150px;
  margin-top: 5px;
  padding-top: 30px;
  text-align: center;
  width: 125px;
}

.icon1 :hover {
  color: honeydew;
  transform: rotate(360deg);
  transition-duration: 1s;
}

.icon1 :active {
  color: honeydew;
  transform: rotate(360deg);
  transition-duration: 1s;
}
